body {
  /* background-image: url("../../recursos/imagenes/232.webp"); */
  background-image: url(../recursos/imagenes/232.webp);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Animacion zoom para img*/
.animation-zoom {
  position: absolute;
  animation: zoomInZoomOut 2s;
}

@keyframes zoomInZoomOut {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.container-carousel-juveniles {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  text-align: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(58%);
}

.destacados__juveniles_section {
  text-align: center;
  margin: 0 auto;
  width: 96%;
  max-width: 1060px;
  margin: 0 auto;
}

.imagen-destacados-juveniles {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.destacados__juegos_section {
  text-align: center;
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
}

.imagen-destacados-juegos-mesa {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.container-autores {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.card-autores {
  width: 100%;
  height: 350px;
  border-radius: 15px;
}

.caja {
  border: 4px solid rgb(5, 223, 194);
  color: white;
  font-size: 2px;
  padding: 5px;
  border-radius: 10px;
}

.flex {
  height: 510px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 3%;
}

/*Elementos flex*/
.hijo1 {
  align-self: center;
}

.hijo2 {
  align-self: flex-start;
}

.hijo3 {
  align-self: flex-end;
}

.hijo3 {
  align-self: stretch;
}

.caja1-autores {
  display: flex;
  width: 100%;
  height: 100%;
}

.autor__destacado {
  text-align: center;
  height: 50px;
  position: relative;
  left: 20px;
}

.logo-principal {
  height: 150px;
  width: 150px;
  position: relative;
  left: -350px;
  right: 90px;
}

.literatura__juvenil_section_pagina {
  text-align: center;
}

.juegos__mesa_section_pagina {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
  padding-left: 20%;
  padding-right: 30%;
  text-align: center;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

.c-img-carousel {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.c-item-carousel {
  height: 550px;
}

.card-body-texto {
  text-align: center;
}

.literatura__juvenil-pag {
  height: 550px;
  width: 1250px;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.contenedor-destacados-juveniles {
  align-items: center;
}

.card-body-texto {
  text-align: center;
}

.juegos__mesa-pagina {
  height: 650px;
  width: 1250px;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.servicio_cliente_parrafo {
  justify-content: center;
  margin: 2%;
}

.pie-pagina {
  text-align: center;
}

.contacto__pagina {
  text-align: center;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  margin: auto;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*# sourceMappingURL=estilos.css.map */
