@import 'componentes/variables';
@import 'componentes/global';
@import 'componentes/header';
@import 'componentes/footer';

@import 'vistas/index';

.literatura__juvenil-pag {
    height: 550px;
    width: 1250px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.juegos__mesa-pagina {
    height: 650px;
    width: 1250px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-left: 20%;
    padding-right: 30%;
    text-align: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.autor__destacado {
    text-align: center;
    height: 50px;
    position: relative;
    left: 20px;
}

.contacto__pagina {
    text-align: center;
}

.servicio_cliente_parrafo{
    justify-content: center;
    margin: 2%;

}

.pie-pagina {
    text-align: center;
}

.contenedor-destacados-juveniles {
    align-items: center;
}

.juegos__mesa_section_pagina {
    text-align: center;

}

.literatura__juvenil_section_pagina {
    text-align: center;
}

.logo-principal {
    height: 150px;
    width: 150px;
    position: relative;
    left: -350px;
    right: 90px;
    /*top: 100px;*/

}

.card-body-texto {
    text-align: center;
}

/*Animacion zoom para img*/

.animation-zoom {
    position: absolute;
    animation: zoomInZoomOut 2s;
}

/*.animation {
    border: 1px solid black;
    background-color: red;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}*/

@keyframes zoomInZoomOut {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* @media (max-width: 576px){ 
    .container-autor{
        grid-template-columns: (1,1fr); */
        /* display:flex */
        /* grid-gap: 10px;
        grid-template-columns: repeat(4,1fr);
        grid-auto-columns: 400px; 
    /* }
} */