.card-body-texto {
    text-align: center;
}

.juegos__mesa-pagina {
    height: 650px;
    width: 1250px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.h1_juegos_mesa{
    font-size: 20px;
    text-align: center;
  }

