.card-body-texto {
    text-align: center;
}

.literatura__juvenil-pag {
    height: 550px;
    width: 1250px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

.contenedor-destacados-juveniles {
    align-items: center;
}

.h1_literatura_juvenil{
    font-size: 20px;
    text-align: center;
  }