body{
    background-image: url("../../recursos/imagenes/232.webp");
}

.imagen-destacados-juveniles{
    height: 550px;
    width: 1350px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    display:block;
    margin:auto;
}

.imagen-destacados-juegos-mesa{
    height: 480px;
    width: 1300px;
    display: flex;
    border-radius: 20px;
    display:block;
    margin:auto;
}

.caja{
    /*background-color: indianred;*/
    border: 4px solid rgb(5, 223, 194);
    color: white;
    font-size: 2px;
    padding: 5px;
    border-radius: 10px;
}


.flex{
    /*background-color: darkslateblue;*/
    height: 520px;
    display: flex;

    /*direccion*/
    /*flex-direction: row;*/
    /* row: default (horizontal) */
    /* column: vertical */
    /*flex-direction: column;*/      /*vertical*/
    /*flex-direction: column-reverse;*/   /* comienza desde la parte inferior*/
    /*flex-direction: row;*/

    /* desbordamiento */
    /* nowrap default */
    /*flex-wrap: nowrap;*/
    /*flex-wrap: nowrap;*/

    /* shorthand */
    /*flex-flow: row wrap;*/

    /* posicionamiento en eje principal*/
    /*justify-content: space-between;*/

    /* centrado*/
    /*justify-content: center;*/

    /* posicionamiento en eje secundario*/
    /* stretch default*/
    align-items: center;


    /*align-content: space-between;*/
}

.hijo1{
    align-self: center;
}

.hijo2{
    align-self: flex-start;
}

.hijo3{
    align-self: flex-end;
}

.hijo3{
    align-self: stretch;
}

.caja1-autores{
    height: 470px;
    width: 415px;
    display: flex;
}

.literatura__juvenil-pag{
    height: 550px;
    width: 1250px;
    display:block;
    margin:auto;
    border-radius: 20px;
}

.juegos__mesa-pagina{
    height: 650px;
    width: 1250px;
    display:block;
    margin:auto;
    border-radius: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

.autor__destacado{
    text-align: center;
    height: 10px;
}

.contacto__pagina{
    text-align: center;

}

.pie-pagina{
    text-align: center;
}

.contenedor-destacados-juveniles{
    align-items: center;
}

.destacados__juveniles_section{
    text-align: center;

}

.destacados__juegos_section{
    text-align: center;
}

.juegos__mesa_section_pagina{
    text-align: center;

}

.literatura__juvenil_section_pagina{
    text-align: center;
}